/* @theme doc-theme */

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

section {
  width: 2550px;
  height: 3600px;
  font-size: 3rem;
  background-color: white;
  color: black;
  padding: 6rem 5rem;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.serif {
  font-family: "Source Serif 4", serif;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Source Serif 4", serif;
  font-size: 6rem;
  text-align: center;
  margin: 7rem 0 7rem;
}

h2 {
  font-size: 4.25rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.75rem;
}

table {
  margin: 10rem auto;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  width: 1400px;
  border: 0.5px solid black;
}

td,
th {
  padding: 1rem 2rem;
}

ol,
ul {
  margin-left: 10rem;
}

header {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

img {
  margin: -50px 0 -150px;
  width: 800px;
}

ul,
ol {
  margin-inline-start: 0;
}
